@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Corinthia:wght@400;700&family=Redacted+Script:wght@300;400;700&display=swap');

*{
  margin: 10px; 
  padding: 3.5px; 
}

@font-face {
  font-family: nomes;
  src: url(The\ Amazing\ Spider-Man.ttf) format('truetype');
} 
@font-face {
  font-family:titulo;
  src: url(HOMOARAK.TTF) format('truetype');
}
main{
  background-color: #e50913;
  color:black;
  padding-top: 0.5px;
  border-top-right-radius: 10px;
  border-top-left-radius:10px;
}

header{
  text-align: center;
}

body{
  background-color: #222;
  color: white;
}

body h1{
 font-family: 'titulo', Times, serif;
 text-shadow: 1px 1px 2px black;
}

p{
 font-family: Arial, Helvetica, sans-serif;
 border: 4px solid;
 border-color: rgb(0, 195, 255);
 background-color: rgba(0, 217, 255, 0.712);
 border-radius: 10px;
 color: black;
 text-align: justify;
 text-indent: 30px;
}

#unico {
  color: white;
  font-style: italic;
  background-color: black;
  border-color: brown;
  text-align: center;
}

nav a{
  font-family:'Bebas Neue', cursive;
  text-decoration: none;
  padding: 10px;
}

nav{
  background-color: rgb(31, 111, 216);
  padding: 5px;
}

h2{
  font-family:'nomes', Times, serif;
  text-align: center;
}

img{
  height: 250px;
  width: 800px;
  margin: auto;
  border-radius: 10px;
  display: block;/* para a imagem ficar no meio da tela*/
}

#pe{
 background-color: #222;
 color: aquamarine;
}

div{
  display: inline;
  background-color: rgb(255, 0, 43);
  margin: 10px;
  padding: 3.5px;
  border: solid;
  border-color: black;
}

